@media screen and (max-width: 991px) {
 
   /*------------------------ NAV / UL------------------------*/
  #logo{
     margin: 10px 150px 0px 20px;
   }
  /*-----------------------BARRE DE RECHERCHE--------------------*/
  #location{
    margin: 40px 0 40px 0;
  }
  .search{
    margin-left: 0;
    border: 1px solid var(--main2) ;
  }
  .search_icon{
    width: 30px;
  }
  .phone_submit{
       display: none;
   }
  
   /*----------------------BARRE DES FILTRES--------------------*/
  .filters-container-1, .filters-container-2, .filters-container-3, .filters-container-4{
      margin-bottom: 10px;
  } 
  
  .filters-container-2{
    margin-right: 50px;
  } 
  .filters-container-3{
    margin-left: 90px;
  } 
  .filters-container-4{
    margin-left: 4px;
  }
 /*---------------------------BOX CARD & CARS ASIDE-------------*/
#box_card_box_card_aside{
  flex-direction: column-reverse;
}
/*----------------------BOX CARDS-----------------------------*/
.box_card{
 width: 100%;
 height: 95%;
 display: flex;
 margin-left: -5px;
}
.card{
  width: 25%;
 height: 250px;
}
/*------------------------BOX CARD ASIDE----------------------*/
.box_card_aside{
  width: 100%;
  height: 700px;
  display: flex;
  border: none;
  background-color: var(--main3);
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 40px
}
.fa-arrow-trend-up{
  background-color: var(--main3);
  margin-left: 60%;
}



.box_card_aside > h2{
  
  margin-bottom: 5px;
}
.card_aside{ 
  width: 98%;
  height: 250px;
  margin: -2px;
}

.img_aside{
   width: 70%;
}
.aside_body{
  margin-right: 20px;
}
.aside_body > p{
   margin: 2px;
}
.card_body > p{
  margin-top: 10px;
}
.notation_bar_aside{
padding-top: 0px;
}

/*--------------MARSEILLE ACTIVITIES---------------*/
.bottom{
  
  height: auto;
  display: flex;
  flex-direction:column ;
}

.card_bottom_tall{
 width: 100%;
 height: auto;
 margin: 10px 0 10px 0;
 
}
.img_card_bottom_tall{
  width: 100%;
  height: 170px; 
}

.card_bottom_small{
 width: 100%;
 height: auto;
}
.img_card_bottom_small{
  height: 160px;
  padding-bottom: 2px;
  width: 100%;
}
.card_small1, .card_small2, .card_small3, .card_small4{
  width: 100%;
 height: 190px;
 margin: 10px 0px 10px 0px;
}


.ul_footer_about, .ul_footer_accommodation, .ul_footer_assistance{
  list-style: none;
  padding: 10px;
}

}